body {
    width: 100%;
    padding: 0.5%
}

span {
    width: 50%;
    text-align: center;
}

p {
    width: 48%;
    padding: 0.5%;
}

.flotante {
    float: left;
}

#oculto {
    display: none;
}

.mal {
    width: 70%;
}