ul {
    list-style-type: none; 
}

li {
    background-image: url("imagina/flecha_inactiva.png");
    background-position: 5px 3px;
    background-repeat: no-repeat;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    text-decoration: none;
    text-decoration-color: black;
    color: black;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: ivory;
    width: 150px;
    text-decoration: none;
}

li:hover {
    background-color: #E4E4E4;
    background-image: url("imagina/flecha_activa.png");
}

a {
    text-decoration: none;
    color: black;
}