body {
    width: 100%;
    line-height: 30px;
}

div {
    border: 1px black solid;
    height: 250px;
}

#primero, #tercero {
    width: 15%;
}

#segundo {
    width: 20%;
}

#cuarto, #sexto {
    width: 17%;
}

#quinto {
    width: 18%;
}

#primero ul li:nth-child(2){
    background-color: gold;
}

#segundo ul li:nth-child(2n+1){
    background-color: gold;
}

#tercero ul li:nth-child(n+3){
    background-color: gold;
}

#cuarto ul li:nth-child(-n+3){
    background-color: gold;
}

#quinto ul li:nth-child(3n+3){
    background-color: gold;
}

#sexto ul li:nth-child(3n+1){
    background-color: gold;
}