body {
    width: 100%;
    height: 100%;
}

div {
    padding: 5px;
}

#rojo {
    width: 50%;
    height: 20%;
    background-color: red;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 2px yellow;
}

#naranja {
    width: 50%;
    height: 20%;
    background-color: orange;
    border: 3px solid black;
    border-radius: 5px 20px 10px 15px;
    box-shadow: 10px 0px 1px 6px blue;
}

#amarillo {
    width: 50%;
    height: 20%;
    background-color: yellow;
    border: 3px solid black;
    border-radius: 40px/10px;
    box-shadow: -10px 4px 1px 0px red;
}

#verde {
    width: 50%;
    height: 20%;
    background-color:green;
    border: 3px solid black;
    border-radius: 20px/5px 40px 10px 50px;
    box-shadow: -10px -6px 6px 4px orange;
}