h1 {/* Todos los títulos */
    color: red;
}

#chapter_1 {/* Los títulos con id chapter_1 */
    color: orange;
}

div span {/* Los span que se encuentran dentro de un div */
    color: blue;
}

div > span {/* Los span que son hijos directos de un div */
    color: yellow;
}

#chapter_2 {
    
}

#chapter_3 {
    
}

#chapter_4 {
    
}

.chaps {
    color: red;
}

p {
    color: green;
}

