div {
    background-color: gainsboro;
    width: 30%;
    height: 1.5em;
    border: 1px solid gray;
    font: 15px arial;
}

#ant {
    padding-left: 5px;
}

#sig {
    float: right;
    padding-right: 5px;
}