* {
    padding: 10px;
}

h1 {
    color: blue;
    font: 20px Arial;
}

b {
    text-decoration: underline;
}

li pre {
    color: red;
}

[id=media] {
    text-align: right;
}

#evaluacion {
    color: green !important;//si el lleves el text de '2ª Evaluación' serà de color taronja.
}

div #evaluacion {
    color: orange;
}