body {
    width: 100%;
    height: 100%;
}

div {
    padding: 5px;
}

#rojo {
    width: 50%;
    height: 20%;
    background-color: red;
    border: 3px solid black;
    border-radius: 15px;
}

#naranja {
    width: 50%;
    height: 20%;
    background-color: orange;
    border: 3px solid black;
    border-radius: 5px 20px 10px 15px;
}

#amarillo {
    width: 50%;
    height: 20%;
    background-color: yellow;
    border: 3px solid black;
    border-radius: 40px/10px;
}

#verde {
    width: 50%;
    height: 20%;
    background-color:green;
    border: 3px solid black;
    border-radius: 20px/5px 40px 10px 50px;
}