@media (min-width: 40rem) { 
    html, body {
        height: 100%;
    }

    .container {
        width: 100%;
        height: 100%;
        display: table;
    }

    #cols {
        display: table-cell;
        height: 100%;
        text-align: center;
        vertical-align: middle;
    }

    .column {
        padding-left: 0;
        padding-right: 0;
    }

    img {
        margin: 0;
        width: auto;
    }

    .aleft {
        float: right;
    }

    .aright {
        float: left;
    }
}