h1 {
    color: teal;
}

strong {
    color: red;
}

.destacado {
    color: orange;
}

h2 {
    color: blue;
}

a {
    color: red;
}

em {
    color: blue;
}

.especial {
    color: purple;
}

caption {
    color: blue;
}

table, td, th {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}

thead .especial {
    color: orange;
}

tfoot {
    color: red;
}

tbody .especial {
    color: orange;
}

tbody td {
    color: green;
}

tbody em {
    color: green;
}

tbody tr {
    color: red;
}

tr strong {
    color: orange;
}

#adicional {
    color: olive;
}

p #especial{
    color: fuchsia;
}

#adicional p a{
    color: green;
}