h1 {
    font-family: Arial;
}

h2 {
    font-family: Times New Roman;
}

h3 {
    font-family: Verdana;
}

p {
    font-size: 20px;
}

h1~p {
    font-size: 10px;
    font-style: italic;
    color: red;
}