body {
    font-family: Arial;
    width: 100%;
}

article {
    border: black solid 1px;
    padding: 20px;
}

#art1 {
    width: 35%;
}

#art2 {
    width: 25%;
}

ul {
    list-style-type: none; 
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

[id="primero"] {
    font-weight: bold;
}

[class="interlocutores"] {
    background-image: url("img/icono.png");
    background-position: 0px 3px;
    background-repeat: no-repeat;
    margin-left: -35px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
}

[class="pdf"] {
    font-style: italic;
    background-image: url("img/pdf.gif");
    background-position: 0px 3px;
    background-repeat: no-repeat;
    margin-left: -35px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
}

[id="zip"] {
    font-weight: bold;
    font-style: oblique;
    font-style: italic;
    background-image: url("img/zip.gif");
    background-position: 0px 3px;
    background-repeat: no-repeat;
    margin-left: -35px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
}