div {
    float: left;
}

#uno {
    width: 350px;
    height: 250px;
    border: 3px solid black;
    background: url("1.jpg") no-repeat;
    background-origin: padding-box;
    margin: 10px;
    padding: 5px;
}

#dos {
    width: 350px;
    height: 250px;
    border: 3px solid black;
    background: url("2.jpg") no-repeat;
    background-origin: border-box;
    margin: 10px;
    padding: 5px;
}

#tres {
    width: 350px;
    height: 250px;
    border: 3px solid black;
    background: url("3.jpg") no-repeat;
    background-origin: content-box;
    margin: 10px;
    padding: 5px;
}

#cuatro {
    width: 250px;
    height: 250px;
    border: 3px solid black;
    background: url("4.jpg") no-repeat;
    background-clip: content-box;
    margin: 10px;
    padding: 5px;
}

#cinco {
    width: 350px;
    height: 250px;
    border: 3px solid black;
    background: url("1.jpg") no-repeat;
    background-size: 100%;
    margin: 10px;
    padding: 5px;
}

#seis {
    width: 350px;
    height: 250px;
    border: 3px solid black;
    background: url("2.jpg") no-repeat;
    background-size: 350px;
    margin: 10px;
    padding: 5px;
}

#siete {
    width: 350px;
    height: 250px;
    border: 3px solid black;
    background: url("3.jpg") no-repeat;
    background-size: cover;
    margin: 10px;
    padding: 5px;
}