#content-box {
    border: black solid 5px;
    box-sizing: content-box;
    width: 400px;
    margin: 10px;
    padding: 10px;
}

#border-box {
    border: black solid 5px;
    box-sizing: border-box;
    width: 400px;
    margin: 10px;
    padding: 10px;
}