#numbered {
    list-style-type: decimal;
}

#letters {
    list-style-type: upper-alpha;
}

#lower {
    list-style-type: lower-alpha;
}

#roman {
    list-style-type: upper-roman;
}

#lower_roman {
    list-style-type: lower-roman;
}