@font-face {
    font-family: DroidSans;
    src: url("fonts/DroidSans.ttf") format("truetype");
}

@font-face {
    font-family: DroidSans-Bold;
    font-weight: bold;
    src: url("fonts/DroidSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: DroidSansMono;
    src: url("fonts/DroidSansMono.ttf") format("truetype");
}

@font-face {
    font-family: OCRA;
    src: url("fonts/OCRA.otf") format("opentype");
}

@font-face {
    font-family: SchmutzICG-Cleaned;
    src: url("fonts/SchmutzICG-Cleaned.ttf") format("truetype");
}