body {
    font-family: OCRA, DroidSans;
    font-size: 16px;
    color: #FFFFFF;
}

#all {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
}

#header {
    width: 100%;
    height: 10%;
}

#apis {
    float: left;
    width: 33%;
    height: 100%;
}

.divheader {
    float: left;
    width: 100%;
    height: 100%;
}

.divheader img {
    width: 18%;
}

#button_mail, #button_twitter, #button_facebook,
#img_mintoggle1, #img_mintoggle2, #img_mintoggle3,
#img_mintoggle4, #img_mintoggle5{
    cursor: pointer;
}

#logo {
    float: left;
    text-align: center;
    width: 34%;
    height: 100%;
    margin: 0px;
    text-shadow: 0 0 10px #5399F6, 0 0 20px #5399F6, 0 0 25px #5399F6, 0 0 35px #5399F6, 0 0 55px #5399F6, 0 0 70px #5399F6, 0 0 90px #5399F6, 0 0 120px #5399F6;
    color: white;
    font-size: 3vh;
}

#name {
    font-size: 6vh;
}

#toggle {
    float: left;
    text-align: right;
    width: 33%;
    height: 100%;
    cursor: pointer;
}

.clear {
    clear: both;
}

#content {
    height: 72.5%;
    opacity: 0;
    margin-bottom: 5%;
    position: relative;
}

#slide {
    width: 100%;
    height: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#current {
    width: 75%;
    height: 100%;
    float: right;
    
    display: table;
}

.step {
    margin-top: 5%;
    width: 50%;
    opacity: 0;
    position: absolute;
    float: left;
    top:0px;
    font-size: 1rem;
    text-shadow: #000000 0.1em 0.1em;
}

#pre {
    width: 100%;
}

#content_slide {
    width: 10px;
    text-align: left;
    position: absolute;
}

#thumbnails {
    width: 100%;
    height: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.more_info {
    width: 12%;
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    background-size: 100%; 
    background-repeat: no-repeat;
    
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.img_more_info {
    width: 100%;
}

.info {
    position: relative;
    top: 39%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 2vh;
    text-align: center;
    background-color: darkseagreen;
    
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.active {
    background-color: #5399F6;
}

.minitoggle img :hover {
    cursor: pointer;
}

.divtogglethumbnailimage {
    position: relative;
    width: 100%;
    top: 25%;
    left: 30%;
}

.divminthumbnailimage {
    width: 40%;
    text-align: center;
}

.divtogglethumbnailimage img {
    width: 100%;
}

#footer {
    width: 100%;
    height: 10%;
    vertical-align: middle;
}

#footerleft {
    float: left;
    width: 49%;
    height: 100%;
    text-align: left;
    font-family: SchmutzICG-Cleaned;
    font-size: 1.2rem;
    text-shadow: #000000 0.1em 0.1em;
    padding-left: 1%;
}

#footerleft span {
    padding-left: 2em;
}

#footerleft img {
    width: 25%;
}

#footerright {
    float: left;
    width: 49%;
    height: 100%;
    text-align: right;
    padding-right: 1%;
}

#footerright img {
    width: 9%;
    float:right;
}

#footerrighttext {
    float:right;
    text-align: left;
    text-shadow: #000000 0.1em 0.1em;
}

.size {
    font-size: 2rem;
}

#step1 {
    font-family: DroidSans-Bold;
}

#step2 {
    font-family: DroidSans;
}

#step3 {
    font-family: DroidSansMono;
}

#step4 {
    font-family: OCRA;
}

#step5 {
    font-family: SchmutzICG-Cleaned;
}