#content-box {
    border: black solid 5px;
    box-sizing: content-box;
    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    overflow-x: no-content;
}

#des_y {
    width: 400px;
}

#border-box {
    border: black solid 5px;
    box-sizing: border-box;
    width: 400px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    overflow-y: scroll;
}