div {
    float: left;
}

#uno {
    width: 350px;
    height: 250px;
    border: 3px solid black;
    background: url("1.jpg") no-repeat;
    background-origin: padding-box;
    margin: 10px;
    padding: 5px;
    transform: translate(-50px, 20px);
}

#dos {
    width: 350px;
    height: 250px;
    border: 3px solid black;
    background: url("2.jpg") no-repeat;
    background-origin: border-box;
    margin: 10px;
    padding: 5px;
    transform: scale(0.5,0.5);
}

#tres {
    width: 350px;
    height: 250px;
    border: 3px solid black;
    background: url("3.jpg") no-repeat;
    background-origin: content-box;
    margin: 10px;
    padding: 5px;
    transform: skew(20deg);
}

#cuatro {
    width: 250px;
    height: 250px;
    border: 3px solid black;
    background: url("4.jpg") no-repeat;
    background-clip: content-box;
    margin: 10px;
    padding: 5px;
    transform: skew(0deg, -20deg);
}

#cinco {
    width: 350px;
    height: 250px;
    border: 3px solid black;
    background: url("1.jpg") no-repeat;
    background-size: 100%;
    margin: 10px;
    padding: 5px;
    transform: skew(-20deg, -20deg);
}

#seis {
    width: 350px;
    height: 250px;
    border: 3px solid black;
    background: url("2.jpg") no-repeat;
    background-size: 350px;
    margin: 10px;
    padding: 5px;
    transform: rotate(320deg);
}

#siete {
    width: 350px;
    height: 250px;
    border: 3px solid black;
    background: url("3.jpg") no-repeat;
    background-size: cover;
    margin: 10px;
    padding: 5px;
    transform: matrix(-0.7,0.5,-0.5,0.866,0,0);
}