html, body {
    height: 100%;
}

#contenedor{
    width: 100%;
    height: 100%;
    display: table;
}

#imagenes {
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}