* {
    font-family: "Arial";
}

h2 {
    border-bottom: 1px solid #DDD8FF;
}

.requerido {
    color: red;
}

ul {
    list-style-type: none;
}

label[class="titulo"] {
    display: table-cell;
    font-weight: bold;
    width: 15%;
    padding-left: 30px;
    padding-right: 20px;
    text-align: right; 
}

li {
    width: 100%;
    display: table;
    border-bottom: 1px solid #DDD8FF;
    padding-top: 15px;
    padding-bottom: 15px;
}

li:hover {
    background-color: #FF9;
}

li div {
    display: table-cell;
    width: 65%;
    vertical-align: middle;
}

li div span input {
    display: block;
}

input {
    height: 25px;
}

input:focus {
    border-color: #E6B700;
    border-style: solid;
    border-width: 2px;
}

.ayuda {
    visibility: hidden;
    display: inline;
    width: 20%;
}

li:hover .ayuda {
    visibility: visible;
}

#alta {
    float: right;
}

#apellido1, #apellido2, #direccion {
    width: 70%;
}

li span label {
    font-size: 14px;
}

#municipio:before {
    float: left;
}