body {
    width: 100%;
    height: 100%;
}

#rojo {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background-color: hsl(0,100%,50%);
    border: 1px solid red;
}

#naranja {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background-color: hsla(30,100%,50%,0.5);
    border: 1px solid orange;
}

#amarillo {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: rgba(255,255,0,0.5);
    border: 1px solid yellow;
}

#verde {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    background-color: green;
    opacity: 0.5;
    border: 1px solid green;
}

#azul {
    position: absolute;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;
    background-color: hsl(240,100%,50%);
    border: 1px solid blue;
}

#indigo {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
    background-color: hsla(280,100%,50%,1);
    border: 1px solid blueviolet;
}

#violeta {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 10%;
    height: 10%;
    background-color: rgba(255,0,255,0.7);
    border: 1px solid violet;
}