div {
    width: 800px;
    height: 565px;
    margin: 20px;
    background: url("1.jpg") top left no-repeat,
        url("2.jpg") top right no-repeat,
        url("3.jpg") bottom left no-repeat,
        url("4.jpg") bottom right no-repeat;
}