body {
    width: 100%;
    height: 100%;
}

#borde {
    height: 300px;
    border-style: solid;
    border-width: 86px 88px 97px 84px;
    -moz-border-image: url(borde.png) 86 88 97 84 round repeat;
    -webkit-border-image: url(borde.png) 86 88 97 84 round repeat;
    -o-border-image: url(borde.png) 86 88 97 84 round repeat;
    border-image: url(borde.png) 86 88 97 84 round repeat;
}