div {
    width: 300px;
    border-style: solid;
}

#primero {
    margin-left: 70px;
    border-left-width: 1px;
    border-right-width: 8px;
    border-top-width: 6px;
    border-bottom-width: 4px;
}

#segundo {
    margin-left: 270px;
    border-left-width: 1px;
    border-left-color: grey;
    border-right-width: 8px;
    border-right-color: blue;
    border-top-width: 6px;
    border-top-color: red;
    border-bottom-width: 4px;
    border-bottom-color: greenyellow;
}