#a {
    border-width: 3px;
    border-style: groove;
}

#b {
    border-width: 3px;
    border-style: ridge;
}

#c {
    border-width: 3px;
    border-right-color: black;
    border-bottom-color: black;
    border-style: outset;
}

#d {
    border-width: 3px;
    border-style: hidden;
}

#e {
    border-width: 3px;
    border-style: dashed;
}

#f {
    border-width: 3px;
    border-style: solid;
}

#g {
    border-width: 3px;
    border-style: initial;
}

#h {
    border-width: 3px;
    border-style: double;
}

#i {
    border-width: 3px;
    border-style: dotted;
}

#j {
    border-width: 3px;
    border-left-color: black;
    border-top-color: black;
    border-style: inset;
}

#kk{
    width: 500px;
}