body {
    height: 700px;
    overflow: auto;
    width: 100%;
    margin: 0px;
}

header {
    float: left;
    width: 100%;
    min-width: 100%;
    height: 10%;
    min-height: 10%;
    background-color: red;
    padding: 5px;
}

nav {
    float: left;
    width: 100%;
    min-width: 100%;
    height: 10%;
    min-height: 10%;
    background-color: yellow;
    padding: 5px;
}

.navmiddle{
    float: left;
    width: 20%;
    min-width: 20%;
    height: 71%;
    min-height: 71%;
    max-height: 71%;
    background-color: hotpink;
    padding: 5px;
}

.sectiontop {
    float: left;
    width: 47%;
    min-width: 47%;
    height: 34.5%;
    min-height: 34.5%;
    background-color: chartreuse;
    padding: 5px;
}

.sectionbottom {
    float: left;
    width: 47%;
    min-width: 47%;
    height: 35%;
    min-height: 35%;
    background-color: brown;
    padding: 5px;
}

article {
    float: left;
    width: 48%;
    min-width: 48%;
    height: 100%;
    min-height: 100%;
    background-color: coral;
    padding: 5px;
}

.sectiontop article {
    background-color: darkseagreen;
}

.sectiontop aside {
    background-color: khaki;
}

.asidemiddle {
    float: right;
    width: 48%;
    min-width: 48%;
    height: 100%;
    min-height: 100%;
    background-color: cyan;
    padding: 5px;
}

aside {
    float: right;
    width: 30.5%;
    min-width: 30.5%;
    height: 71%;
    min-height: 71%;
    background-color: bisque;
    padding: 5px;
}

footer {
    float: left;
    width: 100%;
    min-width: 100%;
    height: 15%;
    min-height: 15%;
    background-color: gold;
    padding: 5px;
}

