#headline {
    padding: 0.8em;
    color: white;
    font-family: Roboto, helvetica, arial, sans-serif;
    background-color: black;
    background-image: url('hero.jpg');
    background-size: cover;
}

@media (min-width: 600px) {
    .container {
        margin: auto;
        max-width: 800px;
    }

    #headline {
        padding: 20px 5%;
    }

    #headline #blurb {
        float: left;
        font-weight: 200;
        width: 50%;
        font-size: 18px;
        box-sizing: border-box;
        padding-right: 10px;
    }

    #headline #register {
        float:right;
        padding: 20px;
        width: 50%;
        box-sizing: border-box;
        font-weight: 300;
    }

    #headline br {
        clear: both;
    }

    #section1 ul {
        box-sizing: border-box;
        float: left;
        width: 50%;
        padding-right: 1em;
    }

    #section1 video {
        width: 50%;
        float: right;
    }

    #section2 div img {
        width: 30%;
        margin: 1%;
        box-sizing: border-box;
        border-radius: 50% 50%;
        box-shadow: black 0px 0px 5px;
    }
}

@media screen and (max-width: 600px) {
    table thead {
        display: none;
    }

    table td {
        display: block;
        position: relative;
        padding-left: 50%;
        padding-top: 13px;
        padding-bottom: 13px;
        text-align: left;
        background: #e9e9e9;
    }

    table td:before {
        content: attr(data-th) " :";
        display: inline-block;
        color: #000000;
        background: #e9e9e9;
        border-right: 2px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 33%;
        max-height: 100%;

        font-size: 16px;
        font-weight: 300;
        padding-left: 13px;
        padding-top: 13px;
    }
}