body {
    width: 100%;
}

div, table {
    border: 1px black solid;
}

#primero {
    width: 225px;
    height: 250px;
    line-height: 30px;
}

#primero ul li:nth-child(1), #primero ul li:nth-last-child(1) {
    background-color: gold;
}

tr td:nth-child(1) {
    background-color: gainsboro;
}

table {
    padding: 25px;
}