body {
    font-family: Arial;
    width: 100%;
    height: 100%;
    /*background: rgba(227,227,227,1);
    background: -moz-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(173,177,199,1) 26%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,227,227,1)), color-stop(26%, rgba(173,177,199,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(173,177,199,1) 26%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(173,177,199,1) 26%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(173,177,199,1) 26%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(227,227,227,1) 0%, rgba(173,177,199,1) 26%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#ffffff', GradientType=0 );*/
    background-color: rgb(106,130,156);
}

#formulario {
    color: #8699a4;
    background-color: rgb(202,208,222);
    width: 400px;
    position: absolute;
    height: 350px;
}

label {
    line-height: 30px;
    padding-top: 0px;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    text-align: right;
    width: 100px;
    float: left;
    display: inline-block;
    max-width: 100%;
}

.inputss {
    position: absolute;
    left: 130px;
    width: 250px;
    height: 20px;
    background-color: rgb(106,130,156);
    border-radius: 5px;
}

.inputss:focus {
    color: white;
}

h2 {
    text-align: center;
}

textarea {
    position: absolute;
    height: 100px;
    left: 130px;
    width: 248px;
    background-color: rgb(106,130,156);
    border-radius: 5px;
}

#boton {
    position: absolute;
    top: 280px;
    width: 150px;
    left: 230px;
    background: #6A829C;
    background-image: -webkit-linear-gradient(top, #4b99e8, #6A829C);
    background-image: -moz-linear-gradient(top, #4b99e8, #6A829C);
    background-image: -ms-linear-gradient(top, #4b99e8, #6A829C);
    background-image: -o-linear-gradient(top, #4b99e8, #6A829C);
    background-image: linear-gradient(to bottom, #4b99e8, #6A829C);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}