#pag_24 span:nth-of-type(3) {
    font-size: 20px;
    color: green;
}

#segundo strong:only-child {
    font-size: 20px;
    color: green;
}

#pag_26 p a:only-of-type {
    font-size: 20px;background-color: gold;
}

#pag_27 span {
    color: purple;
}

#pag_27 span:not(#select) {
    font-size: 20px;
    color: green;
}